<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-align-justify"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                {% if section == 'Wall' %}
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Timeline</a>
                    </li>
                {% elif section == 'Characters' %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'characters:create' %}">Create</a>
                    </li>
                    {% elif section == 'Story' %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'stories:create' %}">Create</a>
                        </li>
                    {% elif section == 'StoryDetails' %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'stories:view' story.id %}">{{ story.title }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'stories:story-characters' story.id %}">Characters</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'stories:act-list' story.id %}">Acts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Images</a>
                        </li>
                    {% elif section == 'Act' %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'stories:act-view' act.id %}">{{ act.title }}</a>
                        </li>
                    {% else %}
                    
                    <li class="nav-item">
                        <a class="nav-link" href="#">Page</a>
                    </li>
                {% endif %}
                
            </ul>
        </div>
    </div>
</nav>