{% extends 'profile.html' %}

{% block content %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a href="" data-target="#feed" data-toggle="tab" class="nav-link active">Feed</a>
        </li>
        <li class="nav-item">
            <a href="" data-target="#messages" data-toggle="tab" class="nav-link">Messages</a>
        </li>
    </ul>
                
    <div class="tab-content py-4">
        <div class="tab-pane" id="feed">
            <p>No content</p>
        </div>
        <div class="tab-pane" id="messages">
            <p>No content</p>
        </div>
    </div>
{% endblock content %}