.cranberry {
    background-color: #DC4E76;
    /* background-color: rgb(220,78,118); */
}

.mulberry {
    background-color: #CC4B93;
    /* background-color: rgb(204,75,147); */
}

.deep-lilac {
    background-color: #A946BE;
    /* background-color: rgb(169,70,190); */
}

.emerald {
    background-color: #46BE6D;
    /* background-color: rgb(70,190,109); */
}

.yellow-orange {
    background-color: #FFAE42;
    /* background-color: rgb(255,174,66); */
}

.ghost-white {
    background-color: #F8F9FD;
    /* background-color: rgb(248,249,253); */
}

.deep-lilac-border {
    border-color: #A946BE;
}

.slate-blue {
    background-color: #5C4AE4;
    /* background-color: rgb(92,74,228); */
}

.slate-grey {
    background-color: #E9E7FB;
}

.deep-koamaru {
    background-color: #35375A;
    /* background-color: rgb(53,55,90); */
}