{% extends 'profile.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="py-3">Create Scene</h1>
            <form class="pb-3" method="post" novalidate>
                {% csrf_token %}
                <div class="form-group">
                    {{ form.title.errors }}
                    <label for="{{ form.title.id_for_label }}">Title:</label>
                    {{ form.title }}
                </div>
                <div class="form-group">
                    {{ form.position.errors }}
                    <label for="{{ form.position.id_for_label }}">Positon:</label>
                    {{ form.position }}
                </div>
                <button type="submit" class="btn btn-primary rounded-pill">Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}