{% extends 'profile.html' %}

{% block content %}

<div class="container-fluid">

    <div class="row">
        <header class="col">
            <h1>Characters</h1>
        </header>
    </div>

    <div class="card-columns">
        {% for character in characters %}
        <div class="card">
            {% for photo in character.album.photos.all %}
                {% if photo.default and photo.album.name == character.album.name  %}
                    <img src="{{ MEDIA_URL }}{{photo.file}}" class="card-img-top" 
                    style="object-fit: cover; object-position: 100% 0; height: 337px;" alt="...">
                {% endif %}
            {% endfor %}
            <div class="card-body">
                <h4 class="card-title">{{ character.name }}</h4>
            </div>
        </div>
        {% empty %}
            <p>You haven't created any characters</p>
        {% endfor %}
        
    </div>
</div>

{% endblock content %}